


table {
  margin-right: 50px;
    padding: 40px;
    border-radius: "25px";
    width: 50% !important;
  }
  
  thead {
    height: 59px;
    background: #7449ef;
    color: white;
    padding: 25px !important;
  }
  
  td,
  th {
    padding-left: 10px;
    max-width: 100%;
  }
  
  th:last-child {
    padding-right: 10px;
  }
  
  tr {
    height: 59px;
    max-width: 100%;
  }

  .btn {
    width: 158px;
    height: 90px;
    background: #7449EF !important;
    font-size: 14px !important;
    color: #fff !important;
    border-radius: 35px !important;
   padding-bottom: 25px !important;
   text-align: center !important;
    
  }



  .white-section {
    background: white;
    width: 700px;
    padding: 50px;
    margin: auto;
    max-width: 100%;
  }
  
  .white-section-1 {
    width: 975px;
    min-height: 118px;
    max-height: 100%;
  }
  
  .white-section-2 {
    margin-top: 117px;
    margin-bottom: 47px;
    margin-right: 490px;
  }
  
  .white-section-2-card {
    width: 832px;
    height: 756px;
  }
  
  .white-section-2-card-small {
    width: 519px;
    height: 453px;
  }

 .content {
   margin-top: 5px;
 }

 .p-0 
 {
   padding: 0;
 }
 

 .mt
  {
    margin-top: 15px;
  }