.search-inp {
    width: 200px;
    padding-top: 20px;
}

.feed {
    width: 980px;
    background: #FFFFFF;
    padding: 20px;
    margin-top: 40px;
    height: 84px;
}

.btn {
   border-radius: 35px;
}

.big-icon {
    font-size: 40px;
}