.search-inp {
    width: 200px;
    padding-top: 20px;
}

.feed {
    width: 980px;
    background: #FFFFFF;
    padding: 20px;
    margin-top: 40px;
    margin-left: 27px;
    height: 84px;
    padding: 20px;
}

.feed-edit {
    height: 30vh;
    z-index: 10;
    position: absolute;
    top: 0;
    padding-bottom: 10px;
    
}

.btn {
   border-radius: 35px;
}

.big-icon {
    font-size: 40px;
}


.nav {
    display: flex ;
  }

  .nav__link {
    color: #533737 !important;
  }

  .left {
      transform: translateX(-77px);
  }

  .right {
    transform: translateX(87px);
}


i {
    cursor: pointer;
  }