version: '2'

###

networks:
  app_network:
    driver: bridge

volumes:
  app_db1:
    external: true
    driver: local

services:
  app:
    image: reg.cic.kz/centras/node:14
    container_name: Application
    labels:
      io.rancher.container.pull_image: always

    networks:
      - app_network

    depends_on:
      - db
