html, body {
  min-height: 100%;
}


* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: 0;
}



body {
  background: #F6F6F9;
  font-family: 'Museo Sans Cyrl';
  font-size: 16px;
  line-height: 19;
  color: #000;
 
}

.nav__item {
  color: #474747 !important;
  padding-left: 50px  !important;
  width: 200px;
}



.nav__item:hover {
  content: '';
  color:  #7449EF !important;
  border-bottom: 1px solid #7449EF;
  transition: all .1s ease 
}

.purp-icon:hover {
   color:   #7449EF; 
   transition: all .1s ease;
   cursor: pointer;
}

.purp-icon-move {
  margin-right: 10px  
}

.section {
  box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.container {
  padding: 30px;
  margin: auto;
  max-width: 100%;
}

.page {
  max-width: 100%;
  margin: auto;
  padding: 30px;
}

.white-section {
   background: white;
   width: 700px;
   padding: 50px;
   margin: auto;
}

.white-section-1 {
  width: 975px;
  height: 118px;
  margin-left: 20px;
  margin: auto;

}

.white-section-2 {
  margin-top: 117px;
  margin-bottom: 47px;
  margin-right: 490px;
}

.white-section-2-card {
  width: 832px;
  height: 756px;
}


.white-section-2-card-small{
  width: 519px;
  height: 453px;
}


.show-btn {
  border: 1px solid #7449EF !important;
  color: #7449EF !important;
  padding: 15px;
}
table {
  width: 700px;
  padding: 40px;
}

thead {
  height: 59px;
  background: #7449EF;
  color: white;

  padding: 25px !important;
}

td, th{
  padding-left: 10px;
}

th:last-child  {
  padding-right: 10px;

}

tr {
  height: 59px;
}

.gray-row {
  background: #D9E3FF;
}